body{
	background-color: #365db1;
	font-family: 'Oswald', sans-serif;
	font-size: 1.1em;
	}

header {
  background-color: #8fbdd9;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: inline-block
}

#main-navbar ul li {
  float: left;
  position: relative;
}

#main-navbar ul li a {
  display: block;
  padding: 10px 234px;
  color: #fff;
  text-decoration: Highlight;
  font-weight: bold;
}

#main-navbar ul li a:hover {
  background-color: #365ad1;
}

#navbar-container {
  width: 100%;
  position: relative;
  text-align: center;
}

h1 {
	text-align: center;
	background-color: #2544a4;
	color: #000000;
}

h4 {
	text-align: center;
	background-color: #185f9c;
	color: #000000;
	margin: 30px;
	padding: 5px;
}

h2{
	background-color: #2132a3;
    font-size: 2em;
    color: #000000;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

h3 {
    background-color: #0a687657;
    color: #000000;
	padding: 2px;
}

#life{
	width: 720px; 
	height: 405px;
	margin: 30px;
	border: 10px solid rgb(31, 202, 74);  
	position: relative;  
	left:380px;
	top: 10px;
}
#doggy{
	width: 720px; 
	height: 405px;
	margin: 30px;
	border: 10px solid rgb(100, 81, 81);  
	position: relative;  
	left:380px;
	top: 10px;
}
	
#school{
	width: 720px; 
	height: 405px;
	margin: 30px;
	border: 10px solid rgb(179, 15, 37);  
	position: relative;  
	left:380px;
	top: 10px;
}
#sox{
	width: 680px; 
	height: 380px; 
	border: 10px solid rgba(184, 184, 211, 0.479);  
	position: relative;  
	left:600px;
	top:800px;
}
#bulls{
	width: 680px; 
	height: 380px; 
	border: 10px solid rgb(232, 25, 25);    
	position: relative;  
	left:420px;
	top: 10px;
}
#hawks{
	width: 720px; 
	height: 405px;
	margin: 30px;
	border: 10px solid rgb(228, 13, 13);  
	position: relative;  
	left:380px;
	top: 10px;
}